<!-- Footer Component -->
<footer class="footer">
    <div class="footer__container">
        <p class="footer__copyright">© 2025 Florian Hunecke</p>
        <div class="footer__links">
            <a href="https://github.com/MrStrenggeheim" class="footer__link" aria-label="GitHub" target="_blank"
                rel="noopener">
                <svg>
                    <use href="/assets/icons.svg#icon-github"></use>
                </svg>
            </a>
            <a href="https://linkedin.com/in/florian-hunecke" class="footer__link" aria-label="LinkedIn" target="_blank"
                rel="noopener">
                <svg>
                    <use href="/assets/icons.svg#icon-linkedin"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>